Web References/ITPExternal/wbsITP_External.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://scms.silcar.com.au/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://scms.silcar.com.au/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://scms.silcar.com.au/">
      <s:element name="CookieLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CookieLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CookieLoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsUserLoggedIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sSessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsUserLoggedInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsUserLoggedInResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="LogoutUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sSessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogoutUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogoutUserResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubcontractorITPsForDownload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sSessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubcontractorITPsForDownloadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSubcontractorITPsForDownloadResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubcontractorITPsForDownloadWithType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sSessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubcontractorITPsForDownloadWithTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSubcontractorITPsForDownloadWithTypeResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPDownloadInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sSessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPDownloadInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetITPDownloadInfoResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetITPStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sSessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iStatus" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetITPStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetITPStatusResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPFullQuestionnaireInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sSessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPFullQuestionnaireInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetITPFullQuestionnaireInfoResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPFullQuestionnaireExtraTypeInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sSessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPFullQuestionnaireExtraTypeInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetITPFullQuestionnaireExtraTypeInfoResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPFullITPTypeInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sSessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPFullITPTypeInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetITPFullITPTypeInfoResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPBatteryFuseTypeInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sSessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPBatteryFuseTypeInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetITPBatteryFuseTypeInfoResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPValidHierarchyInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sSessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPValidHierarchyInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetITPValidHierarchyInfoResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPBatteryCellInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sSessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPBatteryCellInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetITPBatteryCellInfoResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPFullDocumentSectionInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sSessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPFullDocumentSectionInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetITPFullDocumentSectionInfoResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPStaticTableVersionNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sSessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sTableName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPStaticTableVersionNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetITPStaticTableVersionNumberResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPProjectQuestionnaireInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sSessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPProjectQuestionnaireInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetITPProjectQuestionnaireInfoResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPProjectQuestionnaireExtraInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sSessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPProjectQuestionnaireExtraInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetITPProjectQuestionnaireExtraInfoResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPProjectSection10Info">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sSessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPProjectSection10InfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetITPProjectSection10InfoResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPProjectRFUInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sSessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPProjectRFUInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetITPProjectRFUInfoResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPProjectBatteryAcceptTestInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sSessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPProjectBatteryAcceptTestInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetITPProjectBatteryAcceptTestInfoResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPProjectDownloadDocumentsInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sSessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPProjectDownloadDocumentsInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetITPProjectDownloadDocumentsInfoResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetITPDocumentDownloadStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sSessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDocURL" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iStatus" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetITPDocumentDownloadStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetITPDocumentDownloadStatusResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPQSEDownloadDocumentsInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sSessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDocumentType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPQSEDownloadDocumentsInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetITPQSEDownloadDocumentsInfoResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPInventoryInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sSessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPInventoryInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetITPInventoryInfoResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPFolderStructureInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sSessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetITPFolderStructureInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetITPFolderStructureInfoResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsITPUploadable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sSessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsITPUploadableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsITPUploadableResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetITPUploadInfoNew">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sSessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSendString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetITPUploadInfoNewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetITPUploadInfoNewResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetITPUploadInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sSessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSendString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetITPUploadInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetITPUploadInfoResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestSPUpload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sTest" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TestSPUploadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TestSPUploadResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wbsGetWebMethodsOfWebService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sSessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWBSURL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wbsGetWebMethodsOfWebServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wbsGetWebMethodsOfWebServiceResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wbsGetWebMethodOutput">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sWBSURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sMethodName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="args" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wbsGetWebMethodOutputResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wbsGetWebMethodOutputResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CookieLoginSoapIn">
    <wsdl:part name="parameters" element="tns:CookieLogin" />
  </wsdl:message>
  <wsdl:message name="CookieLoginSoapOut">
    <wsdl:part name="parameters" element="tns:CookieLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IsUserLoggedInSoapIn">
    <wsdl:part name="parameters" element="tns:IsUserLoggedIn" />
  </wsdl:message>
  <wsdl:message name="IsUserLoggedInSoapOut">
    <wsdl:part name="parameters" element="tns:IsUserLoggedInResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutUserSoapIn">
    <wsdl:part name="parameters" element="tns:LogoutUser" />
  </wsdl:message>
  <wsdl:message name="LogoutUserSoapOut">
    <wsdl:part name="parameters" element="tns:LogoutUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetSubcontractorITPsForDownloadSoapIn">
    <wsdl:part name="parameters" element="tns:GetSubcontractorITPsForDownload" />
  </wsdl:message>
  <wsdl:message name="GetSubcontractorITPsForDownloadSoapOut">
    <wsdl:part name="parameters" element="tns:GetSubcontractorITPsForDownloadResponse" />
  </wsdl:message>
  <wsdl:message name="GetSubcontractorITPsForDownloadWithTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetSubcontractorITPsForDownloadWithType" />
  </wsdl:message>
  <wsdl:message name="GetSubcontractorITPsForDownloadWithTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetSubcontractorITPsForDownloadWithTypeResponse" />
  </wsdl:message>
  <wsdl:message name="GetITPDownloadInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetITPDownloadInfo" />
  </wsdl:message>
  <wsdl:message name="GetITPDownloadInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetITPDownloadInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SetITPStatusSoapIn">
    <wsdl:part name="parameters" element="tns:SetITPStatus" />
  </wsdl:message>
  <wsdl:message name="SetITPStatusSoapOut">
    <wsdl:part name="parameters" element="tns:SetITPStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetITPFullQuestionnaireInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetITPFullQuestionnaireInfo" />
  </wsdl:message>
  <wsdl:message name="GetITPFullQuestionnaireInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetITPFullQuestionnaireInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetITPFullQuestionnaireExtraTypeInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetITPFullQuestionnaireExtraTypeInfo" />
  </wsdl:message>
  <wsdl:message name="GetITPFullQuestionnaireExtraTypeInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetITPFullQuestionnaireExtraTypeInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetITPFullITPTypeInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetITPFullITPTypeInfo" />
  </wsdl:message>
  <wsdl:message name="GetITPFullITPTypeInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetITPFullITPTypeInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetITPBatteryFuseTypeInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetITPBatteryFuseTypeInfo" />
  </wsdl:message>
  <wsdl:message name="GetITPBatteryFuseTypeInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetITPBatteryFuseTypeInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetITPValidHierarchyInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetITPValidHierarchyInfo" />
  </wsdl:message>
  <wsdl:message name="GetITPValidHierarchyInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetITPValidHierarchyInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetITPBatteryCellInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetITPBatteryCellInfo" />
  </wsdl:message>
  <wsdl:message name="GetITPBatteryCellInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetITPBatteryCellInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetITPFullDocumentSectionInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetITPFullDocumentSectionInfo" />
  </wsdl:message>
  <wsdl:message name="GetITPFullDocumentSectionInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetITPFullDocumentSectionInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetITPStaticTableVersionNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetITPStaticTableVersionNumber" />
  </wsdl:message>
  <wsdl:message name="GetITPStaticTableVersionNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetITPStaticTableVersionNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GetITPProjectQuestionnaireInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetITPProjectQuestionnaireInfo" />
  </wsdl:message>
  <wsdl:message name="GetITPProjectQuestionnaireInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetITPProjectQuestionnaireInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetITPProjectQuestionnaireExtraInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetITPProjectQuestionnaireExtraInfo" />
  </wsdl:message>
  <wsdl:message name="GetITPProjectQuestionnaireExtraInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetITPProjectQuestionnaireExtraInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetITPProjectSection10InfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetITPProjectSection10Info" />
  </wsdl:message>
  <wsdl:message name="GetITPProjectSection10InfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetITPProjectSection10InfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetITPProjectRFUInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetITPProjectRFUInfo" />
  </wsdl:message>
  <wsdl:message name="GetITPProjectRFUInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetITPProjectRFUInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetITPProjectBatteryAcceptTestInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetITPProjectBatteryAcceptTestInfo" />
  </wsdl:message>
  <wsdl:message name="GetITPProjectBatteryAcceptTestInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetITPProjectBatteryAcceptTestInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetITPProjectDownloadDocumentsInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetITPProjectDownloadDocumentsInfo" />
  </wsdl:message>
  <wsdl:message name="GetITPProjectDownloadDocumentsInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetITPProjectDownloadDocumentsInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SetITPDocumentDownloadStatusSoapIn">
    <wsdl:part name="parameters" element="tns:SetITPDocumentDownloadStatus" />
  </wsdl:message>
  <wsdl:message name="SetITPDocumentDownloadStatusSoapOut">
    <wsdl:part name="parameters" element="tns:SetITPDocumentDownloadStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetITPQSEDownloadDocumentsInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetITPQSEDownloadDocumentsInfo" />
  </wsdl:message>
  <wsdl:message name="GetITPQSEDownloadDocumentsInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetITPQSEDownloadDocumentsInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetITPInventoryInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetITPInventoryInfo" />
  </wsdl:message>
  <wsdl:message name="GetITPInventoryInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetITPInventoryInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetITPFolderStructureInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetITPFolderStructureInfo" />
  </wsdl:message>
  <wsdl:message name="GetITPFolderStructureInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetITPFolderStructureInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IsITPUploadableSoapIn">
    <wsdl:part name="parameters" element="tns:IsITPUploadable" />
  </wsdl:message>
  <wsdl:message name="IsITPUploadableSoapOut">
    <wsdl:part name="parameters" element="tns:IsITPUploadableResponse" />
  </wsdl:message>
  <wsdl:message name="SetITPUploadInfoNewSoapIn">
    <wsdl:part name="parameters" element="tns:SetITPUploadInfoNew" />
  </wsdl:message>
  <wsdl:message name="SetITPUploadInfoNewSoapOut">
    <wsdl:part name="parameters" element="tns:SetITPUploadInfoNewResponse" />
  </wsdl:message>
  <wsdl:message name="SetITPUploadInfoSoapIn">
    <wsdl:part name="parameters" element="tns:SetITPUploadInfo" />
  </wsdl:message>
  <wsdl:message name="SetITPUploadInfoSoapOut">
    <wsdl:part name="parameters" element="tns:SetITPUploadInfoResponse" />
  </wsdl:message>
  <wsdl:message name="TestSPUploadSoapIn">
    <wsdl:part name="parameters" element="tns:TestSPUpload" />
  </wsdl:message>
  <wsdl:message name="TestSPUploadSoapOut">
    <wsdl:part name="parameters" element="tns:TestSPUploadResponse" />
  </wsdl:message>
  <wsdl:message name="wbsGetWebMethodsOfWebServiceSoapIn">
    <wsdl:part name="parameters" element="tns:wbsGetWebMethodsOfWebService" />
  </wsdl:message>
  <wsdl:message name="wbsGetWebMethodsOfWebServiceSoapOut">
    <wsdl:part name="parameters" element="tns:wbsGetWebMethodsOfWebServiceResponse" />
  </wsdl:message>
  <wsdl:message name="wbsGetWebMethodOutputSoapIn">
    <wsdl:part name="parameters" element="tns:wbsGetWebMethodOutput" />
  </wsdl:message>
  <wsdl:message name="wbsGetWebMethodOutputSoapOut">
    <wsdl:part name="parameters" element="tns:wbsGetWebMethodOutputResponse" />
  </wsdl:message>
  <wsdl:portType name="wbsITP_ExternalSoap">
    <wsdl:operation name="CookieLogin">
      <wsdl:input message="tns:CookieLoginSoapIn" />
      <wsdl:output message="tns:CookieLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsUserLoggedIn">
      <wsdl:input message="tns:IsUserLoggedInSoapIn" />
      <wsdl:output message="tns:IsUserLoggedInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogoutUser">
      <wsdl:input message="tns:LogoutUserSoapIn" />
      <wsdl:output message="tns:LogoutUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSubcontractorITPsForDownload">
      <wsdl:input message="tns:GetSubcontractorITPsForDownloadSoapIn" />
      <wsdl:output message="tns:GetSubcontractorITPsForDownloadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSubcontractorITPsForDownloadWithType">
      <wsdl:input message="tns:GetSubcontractorITPsForDownloadWithTypeSoapIn" />
      <wsdl:output message="tns:GetSubcontractorITPsForDownloadWithTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetITPDownloadInfo">
      <wsdl:input message="tns:GetITPDownloadInfoSoapIn" />
      <wsdl:output message="tns:GetITPDownloadInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetITPStatus">
      <wsdl:input message="tns:SetITPStatusSoapIn" />
      <wsdl:output message="tns:SetITPStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetITPFullQuestionnaireInfo">
      <wsdl:input message="tns:GetITPFullQuestionnaireInfoSoapIn" />
      <wsdl:output message="tns:GetITPFullQuestionnaireInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetITPFullQuestionnaireExtraTypeInfo">
      <wsdl:input message="tns:GetITPFullQuestionnaireExtraTypeInfoSoapIn" />
      <wsdl:output message="tns:GetITPFullQuestionnaireExtraTypeInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetITPFullITPTypeInfo">
      <wsdl:input message="tns:GetITPFullITPTypeInfoSoapIn" />
      <wsdl:output message="tns:GetITPFullITPTypeInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetITPBatteryFuseTypeInfo">
      <wsdl:input message="tns:GetITPBatteryFuseTypeInfoSoapIn" />
      <wsdl:output message="tns:GetITPBatteryFuseTypeInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetITPValidHierarchyInfo">
      <wsdl:input message="tns:GetITPValidHierarchyInfoSoapIn" />
      <wsdl:output message="tns:GetITPValidHierarchyInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetITPBatteryCellInfo">
      <wsdl:input message="tns:GetITPBatteryCellInfoSoapIn" />
      <wsdl:output message="tns:GetITPBatteryCellInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetITPFullDocumentSectionInfo">
      <wsdl:input message="tns:GetITPFullDocumentSectionInfoSoapIn" />
      <wsdl:output message="tns:GetITPFullDocumentSectionInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetITPStaticTableVersionNumber">
      <wsdl:input message="tns:GetITPStaticTableVersionNumberSoapIn" />
      <wsdl:output message="tns:GetITPStaticTableVersionNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetITPProjectQuestionnaireInfo">
      <wsdl:input message="tns:GetITPProjectQuestionnaireInfoSoapIn" />
      <wsdl:output message="tns:GetITPProjectQuestionnaireInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetITPProjectQuestionnaireExtraInfo">
      <wsdl:input message="tns:GetITPProjectQuestionnaireExtraInfoSoapIn" />
      <wsdl:output message="tns:GetITPProjectQuestionnaireExtraInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetITPProjectSection10Info">
      <wsdl:input message="tns:GetITPProjectSection10InfoSoapIn" />
      <wsdl:output message="tns:GetITPProjectSection10InfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetITPProjectRFUInfo">
      <wsdl:input message="tns:GetITPProjectRFUInfoSoapIn" />
      <wsdl:output message="tns:GetITPProjectRFUInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetITPProjectBatteryAcceptTestInfo">
      <wsdl:input message="tns:GetITPProjectBatteryAcceptTestInfoSoapIn" />
      <wsdl:output message="tns:GetITPProjectBatteryAcceptTestInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetITPProjectDownloadDocumentsInfo">
      <wsdl:input message="tns:GetITPProjectDownloadDocumentsInfoSoapIn" />
      <wsdl:output message="tns:GetITPProjectDownloadDocumentsInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetITPDocumentDownloadStatus">
      <wsdl:input message="tns:SetITPDocumentDownloadStatusSoapIn" />
      <wsdl:output message="tns:SetITPDocumentDownloadStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetITPQSEDownloadDocumentsInfo">
      <wsdl:input message="tns:GetITPQSEDownloadDocumentsInfoSoapIn" />
      <wsdl:output message="tns:GetITPQSEDownloadDocumentsInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetITPInventoryInfo">
      <wsdl:input message="tns:GetITPInventoryInfoSoapIn" />
      <wsdl:output message="tns:GetITPInventoryInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetITPFolderStructureInfo">
      <wsdl:input message="tns:GetITPFolderStructureInfoSoapIn" />
      <wsdl:output message="tns:GetITPFolderStructureInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsITPUploadable">
      <wsdl:input message="tns:IsITPUploadableSoapIn" />
      <wsdl:output message="tns:IsITPUploadableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetITPUploadInfoNew">
      <wsdl:input message="tns:SetITPUploadInfoNewSoapIn" />
      <wsdl:output message="tns:SetITPUploadInfoNewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetITPUploadInfo">
      <wsdl:input message="tns:SetITPUploadInfoSoapIn" />
      <wsdl:output message="tns:SetITPUploadInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestSPUpload">
      <wsdl:input message="tns:TestSPUploadSoapIn" />
      <wsdl:output message="tns:TestSPUploadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="wbsGetWebMethodsOfWebService">
      <wsdl:input message="tns:wbsGetWebMethodsOfWebServiceSoapIn" />
      <wsdl:output message="tns:wbsGetWebMethodsOfWebServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="wbsGetWebMethodOutput">
      <wsdl:input message="tns:wbsGetWebMethodOutputSoapIn" />
      <wsdl:output message="tns:wbsGetWebMethodOutputSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wbsITP_ExternalSoap" type="tns:wbsITP_ExternalSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CookieLogin">
      <soap:operation soapAction="http://scms.silcar.com.au/CookieLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserLoggedIn">
      <soap:operation soapAction="http://scms.silcar.com.au/IsUserLoggedIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogoutUser">
      <soap:operation soapAction="http://scms.silcar.com.au/LogoutUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubcontractorITPsForDownload">
      <soap:operation soapAction="http://scms.silcar.com.au/GetSubcontractorITPsForDownload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubcontractorITPsForDownloadWithType">
      <soap:operation soapAction="http://scms.silcar.com.au/GetSubcontractorITPsForDownloadWithType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPDownloadInfo">
      <soap:operation soapAction="http://scms.silcar.com.au/GetITPDownloadInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetITPStatus">
      <soap:operation soapAction="http://scms.silcar.com.au/SetITPStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPFullQuestionnaireInfo">
      <soap:operation soapAction="http://scms.silcar.com.au/GetITPFullQuestionnaireInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPFullQuestionnaireExtraTypeInfo">
      <soap:operation soapAction="http://scms.silcar.com.au/GetITPFullQuestionnaireExtraTypeInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPFullITPTypeInfo">
      <soap:operation soapAction="http://scms.silcar.com.au/GetITPFullITPTypeInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPBatteryFuseTypeInfo">
      <soap:operation soapAction="http://scms.silcar.com.au/GetITPBatteryFuseTypeInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPValidHierarchyInfo">
      <soap:operation soapAction="http://scms.silcar.com.au/GetITPValidHierarchyInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPBatteryCellInfo">
      <soap:operation soapAction="http://scms.silcar.com.au/GetITPBatteryCellInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPFullDocumentSectionInfo">
      <soap:operation soapAction="http://scms.silcar.com.au/GetITPFullDocumentSectionInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPStaticTableVersionNumber">
      <soap:operation soapAction="http://scms.silcar.com.au/GetITPStaticTableVersionNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPProjectQuestionnaireInfo">
      <soap:operation soapAction="http://scms.silcar.com.au/GetITPProjectQuestionnaireInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPProjectQuestionnaireExtraInfo">
      <soap:operation soapAction="http://scms.silcar.com.au/GetITPProjectQuestionnaireExtraInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPProjectSection10Info">
      <soap:operation soapAction="http://scms.silcar.com.au/GetITPProjectSection10Info" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPProjectRFUInfo">
      <soap:operation soapAction="http://scms.silcar.com.au/GetITPProjectRFUInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPProjectBatteryAcceptTestInfo">
      <soap:operation soapAction="http://scms.silcar.com.au/GetITPProjectBatteryAcceptTestInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPProjectDownloadDocumentsInfo">
      <soap:operation soapAction="http://scms.silcar.com.au/GetITPProjectDownloadDocumentsInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetITPDocumentDownloadStatus">
      <soap:operation soapAction="http://scms.silcar.com.au/SetITPDocumentDownloadStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPQSEDownloadDocumentsInfo">
      <soap:operation soapAction="http://scms.silcar.com.au/GetITPQSEDownloadDocumentsInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPInventoryInfo">
      <soap:operation soapAction="http://scms.silcar.com.au/GetITPInventoryInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPFolderStructureInfo">
      <soap:operation soapAction="http://scms.silcar.com.au/GetITPFolderStructureInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsITPUploadable">
      <soap:operation soapAction="http://scms.silcar.com.au/IsITPUploadable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetITPUploadInfoNew">
      <soap:operation soapAction="http://scms.silcar.com.au/SetITPUploadInfoNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetITPUploadInfo">
      <soap:operation soapAction="http://scms.silcar.com.au/SetITPUploadInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestSPUpload">
      <soap:operation soapAction="http://scms.silcar.com.au/TestSPUpload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wbsGetWebMethodsOfWebService">
      <soap:operation soapAction="http://scms.silcar.com.au/wbsGetWebMethodsOfWebService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wbsGetWebMethodOutput">
      <soap:operation soapAction="http://scms.silcar.com.au/wbsGetWebMethodOutput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wbsITP_ExternalSoap12" type="tns:wbsITP_ExternalSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CookieLogin">
      <soap12:operation soapAction="http://scms.silcar.com.au/CookieLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserLoggedIn">
      <soap12:operation soapAction="http://scms.silcar.com.au/IsUserLoggedIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogoutUser">
      <soap12:operation soapAction="http://scms.silcar.com.au/LogoutUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubcontractorITPsForDownload">
      <soap12:operation soapAction="http://scms.silcar.com.au/GetSubcontractorITPsForDownload" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubcontractorITPsForDownloadWithType">
      <soap12:operation soapAction="http://scms.silcar.com.au/GetSubcontractorITPsForDownloadWithType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPDownloadInfo">
      <soap12:operation soapAction="http://scms.silcar.com.au/GetITPDownloadInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetITPStatus">
      <soap12:operation soapAction="http://scms.silcar.com.au/SetITPStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPFullQuestionnaireInfo">
      <soap12:operation soapAction="http://scms.silcar.com.au/GetITPFullQuestionnaireInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPFullQuestionnaireExtraTypeInfo">
      <soap12:operation soapAction="http://scms.silcar.com.au/GetITPFullQuestionnaireExtraTypeInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPFullITPTypeInfo">
      <soap12:operation soapAction="http://scms.silcar.com.au/GetITPFullITPTypeInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPBatteryFuseTypeInfo">
      <soap12:operation soapAction="http://scms.silcar.com.au/GetITPBatteryFuseTypeInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPValidHierarchyInfo">
      <soap12:operation soapAction="http://scms.silcar.com.au/GetITPValidHierarchyInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPBatteryCellInfo">
      <soap12:operation soapAction="http://scms.silcar.com.au/GetITPBatteryCellInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPFullDocumentSectionInfo">
      <soap12:operation soapAction="http://scms.silcar.com.au/GetITPFullDocumentSectionInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPStaticTableVersionNumber">
      <soap12:operation soapAction="http://scms.silcar.com.au/GetITPStaticTableVersionNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPProjectQuestionnaireInfo">
      <soap12:operation soapAction="http://scms.silcar.com.au/GetITPProjectQuestionnaireInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPProjectQuestionnaireExtraInfo">
      <soap12:operation soapAction="http://scms.silcar.com.au/GetITPProjectQuestionnaireExtraInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPProjectSection10Info">
      <soap12:operation soapAction="http://scms.silcar.com.au/GetITPProjectSection10Info" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPProjectRFUInfo">
      <soap12:operation soapAction="http://scms.silcar.com.au/GetITPProjectRFUInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPProjectBatteryAcceptTestInfo">
      <soap12:operation soapAction="http://scms.silcar.com.au/GetITPProjectBatteryAcceptTestInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPProjectDownloadDocumentsInfo">
      <soap12:operation soapAction="http://scms.silcar.com.au/GetITPProjectDownloadDocumentsInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetITPDocumentDownloadStatus">
      <soap12:operation soapAction="http://scms.silcar.com.au/SetITPDocumentDownloadStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPQSEDownloadDocumentsInfo">
      <soap12:operation soapAction="http://scms.silcar.com.au/GetITPQSEDownloadDocumentsInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPInventoryInfo">
      <soap12:operation soapAction="http://scms.silcar.com.au/GetITPInventoryInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITPFolderStructureInfo">
      <soap12:operation soapAction="http://scms.silcar.com.au/GetITPFolderStructureInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsITPUploadable">
      <soap12:operation soapAction="http://scms.silcar.com.au/IsITPUploadable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetITPUploadInfoNew">
      <soap12:operation soapAction="http://scms.silcar.com.au/SetITPUploadInfoNew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetITPUploadInfo">
      <soap12:operation soapAction="http://scms.silcar.com.au/SetITPUploadInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestSPUpload">
      <soap12:operation soapAction="http://scms.silcar.com.au/TestSPUpload" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wbsGetWebMethodsOfWebService">
      <soap12:operation soapAction="http://scms.silcar.com.au/wbsGetWebMethodsOfWebService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wbsGetWebMethodOutput">
      <soap12:operation soapAction="http://scms.silcar.com.au/wbsGetWebMethodOutput" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wbsITP_External">
    <wsdl:port name="wbsITP_ExternalSoap" binding="tns:wbsITP_ExternalSoap">
      <soap:address location="http://silcar-ws11.silcar.com.au:8003/wbsITP_External.asmx" />
    </wsdl:port>
    <wsdl:port name="wbsITP_ExternalSoap12" binding="tns:wbsITP_ExternalSoap12">
      <soap12:address location="http://silcar-ws11.silcar.com.au:8003/wbsITP_External.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>